<article *ngIf="user" class="rounded-xl bg-white p-4 ring-3 ring-indigo-50 sm:p-6 lg:p-8">
    <div class="flex items-start sm:gap-8">
      <div
        class="hidden sm:grid sm:size-20 sm:shrink-0 sm:place-content-center sm:rounded-full sm:border-2 sm:border-indigo-500"
        aria-hidden="true"
      >
        <div class="hidden sm:block sm:shrink-0">
            <img
            *ngIf="user.profilePhoto" [src]="user.profilePhoto" alt="Profile Photo"
              class="size-20 rounded-full object-cover shadow-xs"
            />
          </div>
      </div>

    <div *ngIf="hasRole('Individual')" class="mt-6">
      <h3 class="text-lg font-semibold mb-2">Mes Bons d'Achat :</h3>
      <div *ngIf="user.vouchers?.length > 0; else noVouchers">
        <div *ngFor="let voucher of user.vouchers" class="p-4 mb-2 bg-gray-100 rounded-md">
          <p class="font-medium">Valeur : {{ voucher.value }} Dh</p>
          <p class="text-sm">Code : {{ voucher.code }}</p>
          <p class="text-sm">Date : {{ voucher.date | date }}</p>
        </div>
      </div>
      <ng-template #noVouchers>
        <p class="text-gray-600">Aucun bon d'achat disponible.</p>
      </ng-template>
    </div>
  
      <div>
  
        <h3 class="mt-4 text-lg font-medium sm:text-xl">
          <p class="hover:underline"> {{ user.firstName }} {{ user.lastName }} </p>
        </h3>
  
        <p class="mt-1 text-sm text-gray-700">
            <strong>Email:</strong> {{ user.email }}
            <strong>Phone:</strong> {{ user.phone }}
            <strong>Address:</strong> {{ user.address }}
            <strong>Birth Date:</strong> {{ user.birthDate }}
        </p>
  
        <div class="mt-4 sm:flex sm:items-center sm:gap-2">
          <p class="mt-2 text-xs font-medium text-gray-500 sm:mt-0">
            <a routerLink="/profile/update-profile" class="underline hover:text-gray-700">edit profile</a>
          </p>
        </div>
      </div>
    </div>
 </article>